Repository AliceO2Group/O2DataProcessing, changes with the owners that CODEOWNERS names for each.
All owners: @davidrohr, @martenole, @shahor02, @chiarazampolli, @aphecethce, @noferini, @wiechula

CODEOWNERS:

/production @davidrohr @martenole @shahor02 @chiarazampolli

/testing/detectors/CPV
/testing/detectors/EMC
/testing/detectors/FDD
/testing/detectors/FT0
/testing/detectors/FV0
/testing/detectors/HMP
/testing/detectors/ITS
/testing/detectors/MCH @aphecethce
/testing/detectors/MFT
/testing/detectors/MID @aphecethce
/testing/detectors/PHS
/testing/detectors/TOF @noferini @chiarazampolli
/testing/detectors/TPC @wiechula
/testing/detectors/TRD @martenole
/testing/detectors/ZDC

possibility to pass P/S Vertexing configKeyVal options
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

sync private directory
  testing/private/shahoian/runTF_PB.sh
  testing/private/shahoian/run_PB.sh
  testing/private/shahoian/workflows_PB.desc
Owners: none

Sync changes from O2 repo
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Simplify adding workflow binaries through get_W function, add ARGS_EXTRA_PROCESS_* and CONFIG_EXTRA_PROCESS_* options
  production/README.md
  production/dpl-workflow.sh
  production/qc-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Make run.sh runnable at home
  README.md
  production/dpl-workflow.sh
  tools/epn/gen_topo.sh
  tools/epn/gen_topo_o2dataprocessing.sh
  tools/epn/run.sh
  tools/parse
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

[EMCAL-724] Increase min. CTF file size to 500 MB and set min. number of ctf to 10000
  testing/detectors/EMC/runEMCRawToDigitsRecoPilelineCTF.sh
  testing/detectors/EMC/runEMCRawToDigitsRecoPilelineQCAlllocalCTF.sh
  testing/detectors/EMC/runEMCRawToDigitsRecoPilelineQClocalCTF.sh
  testing/detectors/EMC/runEMCRawToDigitsRecoPilelineQClocalCTFSingle.sh
  testing/private/mfasel/runEMCRawToDigitsRecoPilelineQCAlllocalCTF.sh
Owners: none

Enable readout-proxy rate logging on EPN
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Fix typo and simplify
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

suppress ITS mult.selection in pp
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

sync private directory
  testing/private/shahoian/runTF_PB.sh
  testing/private/shahoian/run_PB.sh
  testing/private/shahoian/workflows_PB.desc
Owners: none

FIT: severity is changed to WARNING
  testing/detectors/FDD/fdd-ctf.sh
  testing/detectors/FDD/fdd-digits-ctf.sh
  testing/detectors/FDD/fdd-digits-qc-ctf.sh
  testing/detectors/FT0/ft0-ctf.sh
  testing/detectors/FT0/ft0-digits-ctf.sh
  testing/detectors/FT0/ft0-digits-qc-ctf.sh
  testing/detectors/FV0/fv0-ctf.sh
  testing/detectors/FV0/fv0-digits-ctf.sh
  testing/detectors/FV0/fv0-digits-qc-ctf.sh
  testing/private/afurs/fdd-ft0-fv0-ctf.sh
  testing/private/afurs/fdd-ft0-fv0-digits-qc-ctf.sh
  testing/private/afurs/ft0-fv0-ctf.sh
  testing/private/afurs/ft0-fv0-digits-qc-ctf.sh
Owners: none

Throw error when QC script not found
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add option to run with QC locally, disabling sending of data to mergers
  production/README.md
  production/qc-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Use NGPUS as default for number of TPC trackers also in case of EPNPIPELINES=0
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Set min ctf size to 2GB
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

sync of private directory
  testing/private/shahoian/runTF_PB.sh
  testing/private/shahoian/run_PB.sh
  testing/private/shahoian/workflows_PB.desc
  tools/datadistribution_workflows/dd-disk.xml
  tools/datadistribution_workflows/dd-processing-disk.xml
Owners: none

enable AOD production
  common/setenv.sh
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Rename EPNMODE to EPNSYNCMODE
  README.md
  common/README.md
  common/setenv.sh
  production/README.md
  production/dpl-workflow.sh
  testing/detectors/TPC/tpc-workflow.sh
  testing/examples/example-workflow.sh
  testing/private/shahoian/runTF_PB.sh
  testing/private/shahoian/runTF_ext_dpl.sh
  testing/private/shahoian/run_PB.sh
  testing/private/shahoian/run_ext_dpl.sh
  testing/private/shahoian/run_test.sh
  testing/private/zampolli/runTF_ext_dpl.sh
  testing/private/zampolli/run_ext_dpl.sh
  tools/epn/gen_topo_o2dataprocessing.sh
  tools/parse
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli, @wiechula

Add missing quotation marks
  production/qc-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add timeframe rate limit options
  common/setenv.sh
Owners: none

Add documentation for the AliECS GUI
  aliecs_documentation/README.md
  aliecs_documentation/gui_expert_default.png
  aliecs_documentation/gui_expert_example.png
  aliecs_documentation/gui_manual.png
  aliecs_documentation/gui_path.png
  aliecs_documentation/gui_version.png
Owners: none

Sync dpl-workflow.sh from O2
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Improve AliECS GUI documentation
  aliecs_documentation/README.md
Owners: none

Update README.md
  aliecs_documentation/README.md
Owners: none

sync private directory
  testing/private/shahoian/runTF_PB.sh
  testing/private/shahoian/workflows_PB.desc
  testing/private/shahoian/workflows_dpl.desc
  tools/datadistribution_workflows/dd-disk.xml
  tools/datadistribution_workflows/dd-processing-disk.xml
Owners: none

sync dpl-workflow.sh
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add QC_JSON_FROM_OUTSIDE option to qc-workflow.sh, and some cleanup
  production/qc-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add DIGITINPUT default, to be used later in dpl-workflow.sh
  common/setenv.sh
Owners: none

Fix error messages in parser
  tools/parse
Owners: none

Sync dpl-workflow.sh
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

[EMCAL-724] Use new QCDB relocator
  testing/detectors/EMC/qc/emcQCTasksAll_multinode.json
  testing/detectors/EMC/qc/emcQCTasks_multinode.json
  testing/detectors/EMC/qc/emcQCTasks_singlenode.json
Owners: none

Update the common QC parameters
  production/qc_global.json
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Update MFT default QC name
  production/qc-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Not yet working correctly with QC
  common/setenv.sh
Owners: none

Comment on relevant Extra ENV Variables to be used in AliECS GUI
  aliecs_documentation/README.md
Owners: none

add extra options to documentation
  aliecs_documentation/README.md
Owners: none

Add minimal DPL no-processing workflow
  production/no-processing.desc
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Do not use calib nodes for reco workflows
  tools/parse
Owners: none

Sync dpl-workflow
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add RAWINPUTDIR variable
  common/setenv.sh
Owners: none
