Repository AliceO2Group/O2DataProcessing, changes with the owners that CODEOWNERS names for each.
All owners: @davidrohr, @martenole, @shahor02, @chiarazampolli, @aphecethce, @noferini, @wiechula

Add datadistribution workflows for all modes
  tools/datadistribution_workflows/dd-discard.xml
  tools/datadistribution_workflows/dd-disk.xml
  tools/datadistribution_workflows/dd-processing-disk.xml
  tools/datadistribution_workflows/dd-processing.xml
Owners: none

Add DDMODE and GEN_TOPO_PARTITION settings
  tools/epn/gen_topo.sh
  tools/epn/gen_topo_o2dataprocessing.sh
  tools/epn/run.sh
  tools/parse
Owners: none

Write final xml to stdout in script wrapper for ODC topology_script
  tools/epn/gen_topo.sh
  tools/epn/gen_topo_o2dataprocessing.sh
  tools/epn/run.sh
Owners: none

Add workflow for no processing
  production/no-processing.desc
  tools/parse
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Raise an error when trying to cache XML of non-versioned workflow
  tools/epn/gen_topo_o2dataprocessing.sh
  tools/epn/run.sh
  tools/parse
Owners: none

Improve error handling
  tools/parse
Owners: none

Temporarily add local copy of FST dpl workflow
  production/full-system-test/dpl-workflow_local.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add TPC workflow
  testing/detectors/TPC/tpc-workflow.sh
  testing/detectors/TPC/workflows.desc
Owners: @wiechula

Make GPU-usage and CTF-writing of sync production workflow a WORKFLOW_PARAMETER
  production/full-system-test/dpl-workflow_local.sh
  production/production.desc
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add example workflow
  testing/examples/example-workflow.sh
  testing/examples/workflows.desc
Owners: none

Update example script to start workflow to topology conversion
  tools/epn/run.sh
Owners: none

Update documentation
  README.md
  production/full-system-test/dpl-workflow_local.sh
  testing/private/README.md
  tools/epn/run.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Update documentation
  README.md
Owners: none

Add INFOLOGGER_SEVERITY option
  common/README.md
  common/setenv.sh
  production/full-system-test/dpl-workflow_local.sh
  production/production.desc
  testing/detectors/TPC/tpc-workflow.sh
  testing/detectors/TPC/workflows.desc
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli, @wiechula

Don't use all threads for TPC tracking on EPN
  production/full-system-test/dpl-workflow_local.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

For the time being add TPC linkZS decoding to global workflow on EPN
  production/full-system-test/dpl-workflow_local.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add global QC workflow (currently TPC only)
  production/full-system-test/dpl-workflow_local.sh
  production/full-system-test/qc-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add $GEN_TOPO_IGNORE_ERROR option
  tools/parse
Owners: none

add other TOF topologies
  testing/detectors/TOF/tof-epn-cosmics-dig.sh
  testing/detectors/TOF/tof-epn-cosmics-digNoQC.sh
  testing/detectors/TOF/tof-epn-cosmicsNoQC.sh
  testing/detectors/TOF/workflows.desc
Owners: @noferini, @chiarazampolli

tof cosmics workflow added
  testing/detectors/TOF/qc-full.json
  testing/detectors/TOF/tof-epn-cosmics.sh
  testing/detectors/TOF/workflows.desc
Owners: @noferini, @chiarazampolli

Improve debug output and make clear that the output.xml is only a temporary file
  tools/epn/gen_topo_o2dataprocessing.sh
Owners: none

Bugfix: max_split is max number of delimiters not max number of parts
  tools/parse
Owners: none

tune one parameters for TOF calibration
  testing/detectors/TOF/tof-epn-cosmics.sh
  testing/detectors/TOF/tof-epn-cosmicsNoQC.sh
Owners: @noferini, @chiarazampolli

production workflow should not be called full system test, just link to there
  production/dpl-workflow.sh
  production/production.desc
  production/setenv.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Adopt some options from Ruben's script + cosmetics
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

FIT / MID will not yet run their decoders on the FLP since not yet tested
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Create raw proxy spec on the fly
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

ITS and TOF entropy encoding used from extra binary instead of part of workflow
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add CPU and Memory to DPL metrics
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add multiplicities to all processes, scale some with number of nodes in the partition, add global scaling factors
  README.md
  common/setenv.sh
  production/dpl-workflow.sh
  tools/parse
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Set mid-feeId_mapper file in EPNMODE
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Provide path of CTF dictionary to entropy encoders
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Improve scripts
  production/no-processing.desc
  tools/epn/gen_topo.sh
  tools/epn/run.sh
  tools/parse
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Automatic merging of QC workflows
  production/full-system-test/qc-workflow.sh
  production/qc-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Update README
  README.md
  production/README.md
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Do not clean up merged json files if topology is not created on the fly
  production/qc-workflow.sh
  tools/epn/gen_topo.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add ALL_EXTRA_CONFIG and ARGS_ALL_EXTRA for user-provided extra arguments
  production/README.md
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Fix: qc-workflow muse use has_detector_qc
  production/qc-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Sync change for FV0 reco addition from O2
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

wf descriptions based on master dpl-workflow.sh
  testing/private/shahoian/run_ext_dpl.sh
  testing/private/shahoian/workflows_dpl.desc
Owners: none

CODEOWNERS:

/production @davidrohr @martenole @shahor02 @chiarazampolli

/testing/detectors/CPV
/testing/detectors/EMC
/testing/detectors/FDD
/testing/detectors/FT0
/testing/detectors/FV0
/testing/detectors/HMP
/testing/detectors/ITS
/testing/detectors/MCH @aphecethce
/testing/detectors/MFT
/testing/detectors/MID @aphecethce
/testing/detectors/PHS
/testing/detectors/TOF @noferini @chiarazampolli
/testing/detectors/TPC @wiechula
/testing/detectors/TRD @martenole
/testing/detectors/ZDC
