Repository AliceO2Group/O2DataProcessing, changes with the owners that CODEOWNERS names for each.
All owners: @davidrohr, @martenole, @shahor02, @chiarazampolli, @aphecethce, @noferini, @wiechula

[EMCAL-525, EMCAL-527] Update QC configurations with checkers
  testing/detectors/EMC/qc/emcQCTasksAll_multinode.json
  testing/detectors/EMC/qc/emcQCTasks_multinode.json
  testing/detectors/EMC/qc/emcQCTasks_singlenode.json
Owners: none

impose higher min-file-size and fixed max number of CTFs per file
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Set GPU_NUM_MEM_REG_CALLBACKS on EPN
  production/dpl-workflow.sh
  production/production.desc
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Fix typo
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Merge change from O2, use early forwarding in NORAW mode
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Module load output should go to the normal log file not stderr log
  tools/parse
Owners: none

Add source XML for EPN monitoring tool
  tools/monitoring_workflows/dd-disk.xml
Owners: none

Ignore events that trigger GPU buffer overflow during online processing
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Need to use distinct proxy names when we have 2 raw proxies in calib workflow
  production/calib/its-noise-aggregator.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add multiplicities for TRD raw decoders
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Improve possibilities to change number of pipeline instances
  production/README.md
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Reduce QC InfoLogger verbosity
  production/dpl-workflow.sh
  production/qc-workflow.sh
  production/qc_global.json
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

use only syncmode to switch between modes
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

more SYNCMODE==1 as swith for sync.mode
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add WORKFLOW_EXTRA_PROCESSING_STEPS option
  production/README.md
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

General improvements
  common/setenv.sh
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Make DISABLE_ROOT_OUTPUT a variable
  common/setenv.sh
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Automatically select event display inputs
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

add ITS cosmic mode in sync mode
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

fix double entry of MFTMCH in has_processing_step MATCH check
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

fix typo cosmic -> cosmics
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add MCH QC
  production/qc-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

provide ITS-specific files to global w-flows with ITS
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

moving tof to O2PDPSuite
  testing/detectors/TOF/tof-epn-cosmics-dig.sh
  testing/detectors/TOF/workflows.desc
Owners: @noferini, @chiarazampolli

[EMCAL-724] Add meta-output-dir for CTF writer
  testing/detectors/EMC/runEMCRawToDigitsRecoPilelineCTF.sh
  testing/detectors/EMC/runEMCRawToDigitsRecoPilelineQCAlllocalCTF.sh
  testing/detectors/EMC/runEMCRawToDigitsRecoPilelineQClocalCTF.sh
  testing/detectors/EMC/runEMCRawToDigitsRecoPilelineQClocalCTFSingle.sh
  testing/detectors/EMC/workflows.desc
Owners: none

[EMCAL-724] Create staging directory for configurations in testing/development phase
  testing/private/mfasel/runEMCRawToDigitsRecoPilelineQCAlllocalCTF.sh
  testing/private/mfasel/workflows.desc
Owners: none

Add QC host option
  production/qc-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Temporarily allow explicit env.vars for ED tracks and clusters
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

more flexible settings for ITS/MFT noise and dictionaries
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

typo fix for QC: local -> localhost
  production/qc-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Disable SHM throw on the EPN
  common/setenv.sh
Owners: none

Update README and examples
  README.md
  production/standalone-calibration.desc
  testing/examples/workflows.desc
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Tune some process multiplicities
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add/fix documentation/example for dpl metric monitoring / infologger
  README.md
  testing/examples/example-workflow.sh
Owners: none

[EMCAL-724] Discard debug messages from QC in infoLogger
  testing/detectors/EMC/qc/emcQCTasksAll_multinode.json
  testing/detectors/EMC/qc/emcQCTasks_multinode.json
  testing/detectors/EMC/qc/emcQCTasks_singlenode.json
Owners: none

Fixes for ITS noise calibration workflow
  production/calib/its-noise-aggregator.sh
  production/calib/its-noise-processing.sh
  tools/parse
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Add documentation and examples for calibration workflows
  README.md
  testing/examples/calib-workflows.desc
  testing/examples/example-calib-aggregator.sh
  testing/examples/example-calib-processing.sh
Owners: none

Enable EPN STDERR monitoring tool
  tools/datadistribution_workflows/dd-discard.xml
  tools/datadistribution_workflows/dd-disk.xml
  tools/datadistribution_workflows/dd-processing-disk.xml
  tools/datadistribution_workflows/dd-processing.xml
  tools/epn/gen_topo.sh
  tools/monitoring_workflows/epnstderrlog.xml
  tools/parse
Owners: none

Make sure N_TPCENTDEC is set
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

Suppress unneeded TRD options
  production/dpl-workflow.sh
Owners: @davidrohr, @martenole, @shahor02, @chiarazampolli

CODEOWNERS:

/production @davidrohr @martenole @shahor02 @chiarazampolli

/testing/detectors/CPV
/testing/detectors/EMC
/testing/detectors/FDD
/testing/detectors/FT0
/testing/detectors/FV0
/testing/detectors/HMP
/testing/detectors/ITS
/testing/detectors/MCH @aphecethce
/testing/detectors/MFT
/testing/detectors/MID @aphecethce
/testing/detectors/PHS
/testing/detectors/TOF @noferini @chiarazampolli
/testing/detectors/TPC @wiechula
/testing/detectors/TRD @martenole
/testing/detectors/ZDC
